<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <% if isEscapeFragmentParams? %>
      <title><%= @web.pages.find_by_url_name(params[:_escaped_fragment_]).title %></title>
  <% else %>
      <title><%= full_title(yield(:title)) %></title>
  <% end %>

  <!-- Good showing on mobile device with responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <%= stylesheet_link_tag "web_themes/" + @web.theme.name + "/import", media: "all" %>
  <%= stylesheet_link_tag "bootstrap", media: "all" %>
  <%= stylesheet_link_tag "web_themes/generator_style", media: "all" %>
  <%= stylesheet_link_tag "web_themes/column_block", media: "all" %>
  <%= stylesheet_link_tag "fancybox", media: "all" %>
  <%= stylesheet_link_tag "web_themes/column_block_responsive", media: "all" %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>

  <% unless isEscapeFragmentParams? %>
    <%= javascript_include_tag "web_themes/subpage_loader" %>
    <%= javascript_include_tag "web_themes/classes/c_loader" %>
  <% end %>

  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "fancybox" %>
  <%= javascript_include_tag "web_themes/" + @web.theme.name + "/import" %>
  <% unless @web.favicon.nil? %>
      <%= favicon_link_tag @web.favicon_url.to_s %>
  <% end %>

  <%= csrf_meta_tags %>

  <% if isEscapeFragmentParams? %>
      <meta name="keywords" content="<%= @web.pages.find_by_url_name(params[:_escaped_fragment_]).meta_keywords %>" >
      <meta name="description" content="<%= @web.pages.find_by_url_name(params[:_escaped_fragment_]).meta_description %>" >
  <% else %>
      <meta name="keywords" content="<%= @web.name %>" >
      <meta name="description" content="<%= @web.name %>" >
  <% end %>

</head>
<body style="background: <%= @web.bg_color %>;">
    <% if !@google_analytics_service.nil? && @web.published_at < Time.now && !@web.published %>
        <div id="google-analytics" ><%= raw @google_analytics_service.service_value %></div>
    <% end %>
    <%= yield %>
</body>
</html>
