<% if @webs.length > 0 %>
    <div class="row-fluid">
      <div class="span9">
        <%= will_paginate @webs %>
      </div>
    </div>
    <ul class="users">
      <% @webs.each do |web| %>
          <li id="<%= dom_id(web) %>">
            <div class="row-fluid">
              <div class="span9">
                <% if current_user?(@user) %>
                    <%= link_to web.name, edit_web_path(web)%>
                <% else %>
                    <%= link_to web.name, root_url(subdomain:web.subdomain)%>
                <% end %>
              </div>
              <div class="span3">
                <div class="pull-right">
                  <% unless web.subdomain.nil? || web.subdomain == ""  %>
                      <% if current_user?(@user) %>
                          <%= link_to root_url(subdomain:web.subdomain, :back_link => "true"), class: "btn btn-success" do %>
                              <i class="fa fa-eye"></i>
                          <% end %>
                      <% else %>
                          <%= link_to root_url(subdomain:web.subdomain), class: "btn btn-success" do %>
                              <i class="fa fa-eye"></i>
                          <% end %>
                      <% end %>

                  <% end %>
                  <% if signed_in? %>
                      <% if current_user?(@user) %>
                          <% if current_user?(@user) %>
                              <%= link_to edit_web_path(web), class: "btn btn-info" do %>
                                  <i class="fa fa-wrench"></i>
                              <% end %>
                          <% end %>

                          <%= link_to web, method: :delete,
                                      class: "btn btn-danger",
                                      remote: true,
                                      data: { confirm: "You sure?" } do %>
                              <i class="fa fa-trash-o"></i>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <%= will_paginate @webs %>
<% else %>
    <% if current_user?(@user) %>
        <div id="no-web-sites">
          <h2>You have no web site. <strong>Create new one.</strong></h2>
        </div>
    <% else %>
        <div id="no-web-sites">
          <h2>No web sites.</h2>
        </div>
    <% end %>
<% end %>