<h2>Blocks</h2>
<p class="category-header">Basic</p>
<ul class="blocks">
  <li>
    <div class="block" id="text_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/text_icon.png",alt:"add text") %></span>
        <span>text</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="title_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/title_icon.png",alt:"add title") %></span>
        <span>tittle</span></a>
    </div>
  </li>
  <li>
    <div class="block" id="image_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/image_icon.png",alt:"add image") %></span>
        <span>image</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="image_text_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/img_text_icon.png",alt:"add image with text") %></span>
        <span>image + text</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="button_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/button_icon.png",alt:"add button") %></span>
        <span>button</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="gallery_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/gal_icon.png",alt:"add gallery") %></span>
        <span>gallery</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="map_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/map_icon.png",alt:"add map") %></span>
        <span>map</span>
      </a>
    </div>
  </li>
</ul>

<p class="category-header">Structure</p>
<ul class="blocks">
  <li>
    <div class="block" id="column_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/column_icon.png",alt:"add columns") %></span>
        <span>columns</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="divider_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/divider_icon.png",alt:"add divider") %></span>
        <span>divider</span></a>
    </div>
  </li>
</ul>

<p class="category-header">AJAX</p>
<ul class="blocks">
  <li>
    <div class="block" id="ajax_content_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/ajax_content_icon.png",alt:"add ajax content") %></span>
        <span>ajax content</span>
      </a>
    </div>
  </li>
</ul>

<p class="category-header">Media</p>
<ul class="blocks">
  <!--<li>
    <div class="block" id="pdf_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/pdf_icon.png",alt:"add pdf") %></span>
        <span>pdf</span>
      </a>
    </div>
  </li>-->
  <li>
    <div class="block" id="youtube_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/youtube_icon.png",alt:"add youtube") %></span>
        <span>youtube</span></a>
    </div>
  </li>
  <li>
    <div class="block" id="social_icons_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/social_icon.png",alt:"add social icons") %></span>
        <span>social icons</span>
      </a>
    </div>
  </li>
  <li>
    <div class="block" id="code_b">
      <a href="">
        <span class="image"><%= image_tag("blocks_icon/code_icon.png",alt:"add html embedded code") %></span>
        <span>embedded code</span>
      </a>
    </div>
  </li>
</ul>