<h2>External Services</h2>
<h3 class="category-header">New Service</h3>
<%= form_tag("/ext_services/create_ext_service", method: "post") do %>
    <div id="services-messages"></div>
    <%= hidden_field_tag 'web_id', @web.id %>
    <%= hidden_field_tag 'service_type', 'Google analytics' %>
    <%= text_area("service", "value", cols: 10, rows: 10, placeholder: "Google analytics Code") %>
    <%= submit_tag "Create", id:"create-new-service", class: "btn btn-success" %>
<% end %>

<h3 class="category-header">Services settings</h3>
<ul id="servicesSettings">
  <% @ext_services.each do |service| %>
      <li>
        <a class="showHideLink" href="javascript:void(0)">
          <span class="serviceType"><%= service.service_type %></span>
          <i class="fa fa-angle-down fa-lg"></i>
        </a>
        <div class="showServiceSettings">
          <form class="update-service-settings" action="/ext_services/update_ext_service" method="post">
            <div class="service-settings-messages"></div>
            <div class="clearfix"><input type="hidden" name="web_id" value="<%= @web.id %>"></div>
            <div class="clearfix"><input type="hidden" name="service_id" value="<%= service.id %>"></div>
            <div class="clearfix"><textarea cols="10" id="service_value" name="service[value]" placeholder="Google analytics Code" rows="10" ><%= service.service_value %></textarea><i class="tooltip-icon fa fa-info-circle fa-lg" data-placement="left" rel="tooltip" title="External service value" ></i></div>
            <div class="clearfix"><input type="submit" value="Save" class="btn btn-success pull-left" id="update-service"><a class="btn btn-danger pull-right delete-service"><i class="fa fa-trash-o fa-lg"></i></a></div>
          </form>
        </div>
      </li>
  <% end %>
</ul>