<header>
  <!-- Sidebar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if isWebsEditOrUpdateAction? %>
            <%= link_to "", id: "sidebar-toggle", 'data-placement' => 'right' , rel:"tooptip", title:"Toggle Sidebar" do %>
                <i class="fa fa-bars fa-1g"></i>
            <% end %>
        <% end %>
        <%= link_to root_path, id: "logo", class: "brand" do %>
            <%= content_tag(:span, "WBS", :class => "blue-italic").html_safe %>
            Builder
        <% end %>


        <!-- Sidebar -->
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-user">
            <% unless signed_in? %>
                <li class="<%= nav_aktiv(root_path) %>" >
                  <%= link_to root_path do%>
                        <i class="fa fa-home"></i> Home
                  <%end%>
                </li>
             <%else%>
                <li class="<%= nav_aktiv(webs_path) %>" >
                  <%= link_to webs_path do%>
                      <i class="fa fa-clipboard"></i> Web sites
                  <%end%>
                </li>
             <%end%>
            </li>
            <li class="<%= nav_aktiv(help_path) %>"><%= link_to help_path do%><i class="fa fa-info"></i> Help<%end%></li>

            <% if signed_in? %>
                <% if current_user.admin? %>
                    <li class="<%= nav_aktiv(users_path) %>"><%= link_to users_path do %><i class="fa fa-cogs"></i> Users <%end%></li>
                <%end%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="<%= nav_aktiv(current_user) %>"><%= link_to current_user do %><i class="fa fa-user"></i> Profile <%end%></li>
                    <li class="<%= nav_aktiv(edit_user_path(current_user)) %>"><%= link_to edit_user_path(current_user) do %><i class="fa fa-gear"></i> Settings<%end%></li>
                    <li class="divider"></li>
                    <li><%= link_to signout_path, method: "delete" do%><i class="fa fa-power-off"></i> Sign out<%end%></li>
                  </ul>
                </li>
            <% else %>
                <li class="<%= nav_aktiv(signin_path) %>"><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>

          <% if isWebsEditOrUpdateAction? %>
              <div id="device-view-control">
                <a href="" data-content-width="480px" id="phone" class="device-control"><i class="fa fa-mobile-phone"></i></a>
                <a href="" data-content-width="768px" id="tablet" class="device-control"><i class="fa fa-tablet"></i></a>
                <a href="" data-content-width="1024px" id="laptop" class="device-control"><i class="fa fa-laptop"></i></a>
                <a href="" data-content-width="100%" id="desktop" class="device-control active"><i class="fa fa-desktop"></i><span class="leftText">auto</span></a>
              </div>
          <%end%>
        </div><!--/.nav-collapse -->
      </div><!--/#wrapper -->
    </div>
  </div>
</header>